{% extends "base.html" %} 
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<p>What are we doing now: {{ downloadingText }}</p>
<div class="text-center">
<h2>Click the button</h2>
    <div class="row">
        <div class="col-md-6">
            {{ wtf.quick_form(newJob) }}
        </div>
        <div class="col-md-6">
            {{ wtf.quick_form(procrastination) }}
        </div>
    </div>
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p>New User? <a href="{{ url_for('warehouse') }}">Click to Register!</a></p>
    <p>
        Forgot Your Password?
        <a href="{{ url_for('pending') }}">Click to Reset It</a>
    </p>
    </div>
    
{% endblock %}