{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_content %}
<h1>Add a new car</h1>

<form method="POST" action="/newJob">
    <label for="tname">Realization name:</label><br>
    <input type="text" id="tname" name="tname"><br>
    <label for="model">Model</label>
    <select name="model" method="GET" action="/">
        {% for model in models %}
        <option value="{{model}}" SELECTED>{{model}}</option>"
        {% endfor %}
    </select>
    <br>
    <label for="vinnumber">VIN number:</label><br>
    <input type="text" id="vinnumber" name="vinnumber"><br>
    Is stolen?<br>
    <input type="radio" id="stolenYes" name="isStolen" value="stolenYes">
    <label for="stolenYes">Yes</label>
    <input type="radio" id="stolenNo" name="isStolen" value="stolenNo">
    <label for="stolenNo">No</label>
    <br>
    <label for="colour">Colour</label>
    <select name="colour" method="GET" action="/">
        {% for colour in colours %}
        <option value="{{colour}}" SELECTED>{{colour}}</option>"
        {% endfor %}
    </select>
    <br>
    <input type="submit">
  </form>
{% endblock %}