{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_content %}
<div class="text-center">
{% if( success) %}
    <div class="alert alert-success">Your request was successfully added to database. Observe card <b>Pending</b> to see if it is being processed.</div>
{% endif %}

{% if( alerts ) %}
    {% for alert in alerts %}
    <div class="alert alert-danger">{{alert}}</div>
    {% endfor %}
{% endif %}

<h1>Add a new car</h1>

</div>
<form method="POST" action="/newCar" id="newc_form"></form>
<table class="table">
    <tbody>
        <tr>
            <td>
                <label for="desc">Description:</label><br>
            </td>
            <td>
                <input type="text" id="desc" name="desc" form="newc_form" required><br>
            </td>
        </tr>
        <tr>
            <td>
                <label>Model</label>
            </td>
            <td>
                <select name="model" method="GET" action="/" form="newc_form">
                    {% for model in models %}
                    <option value="{{model['id']}}" SELECTED>{{model['car_model']}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="vin">VIN:</label><br>
            </td>
            <td>
                <input type="text" name="vin" form="newc_form" required><br>
            </td>
        </tr>
        <tr>
            <td>
                <label for="damage">Damage desc:</label><br>
            </td>
            <td>
                <select name="damage" method="GET" action="/" form="newc_form">
                    {% for damage in damages %}
                    <option value="{{damage['id']}}" SELECTED>{{damage['description']}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Is stolen?</label>
            </td>
            <td>
                <input type="radio" id="stolenYes" name="isStolen" value="stolenYes" form="newc_form">
                <label for="stolenYes">Yes</label>
                <input type="radio" id="stolenNo" name="isStolen" value="stolenNo" form="newc_form">
                <label for="stolenNo">No</label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="color">Color</label>
            </td>
            <td>
                <input type="color" id="head" name="color" form="newc_form"
                value="#e66465">
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Car counter (km)</label>
            </td>
            <td>
                <input type="number"  name="carcounter" form="newc_form"
                min="0" max="100000">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" form="newc_form">
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}