{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_content %}
<div class="text-center">

{% if( success ) %}
    <div class="alert alert-success">Realisation was successfully added to database.</div>
{% endif %}

{% if( alerts and len(alerts) > 0 ) %}
    {% for alert in alerts %}
    <div class="alert alert-danger">{{alert}}</div>
    {% endfor %}
{% endif %}

<h1>Create a new realisation</h1>

</div>
<form method="POST" action="/newJob" id="newr_form" name="rForm" onsubmit="return validateFormNewJob()"></form>
<table class="table">
    <tbody>
        <tr>
            <td>
                <label for="desc">Realisation description:</label><br>
            </td>
            <td>
                <input type="text" id="desc" name="desc" form="newr_form" required><br>
            </td>
        </tr>
        <tr>
            <td>
                <label>Car</label>
            </td>
            <td>
                <select name="car" method="GET" action="/" form="newr_form">
                    {% for car in cars %}
                    <option value="{{car['id']}}" SELECTED>{{car["description"]}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Worker Name</label>
            </td>
            <td>
                <select name="worker" method="GET" action="/" form="newr_form">
                    {% for worker in workers %}
                    <option value="{{worker['id']}}" SELECTED>{{worker['fullname']}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Quality/Cost option</label>
            </td>
            <td>
                <select name="cost" method="GET" action="/" form="newr_form">
                    <option value="less">Using replacement parts</option>
                    <option value="more">Using original parts</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Deadline</label>
            </td>
            <td>
                <input type="date" name="deadline" form="newr_form" value="2021-02-01" min="2021-02-01"
                    max="2021-12-31">
            </td>
        </tr>
        <tr>
            <td>
                <label>Status</label>
            </td>
            <td>
                <select name="status" method="GET" action="/" form="newr_form">
                    <option value="open">Open</option>
                    <option value="rejected">Rejected</option>
                    <option value="finished">Finished</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" form="newr_form">
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('.static', filename='scripts/formValidate.js')}}"></script>
{% endblock %}